.voting-btn {
    border: 2px solid lightgray;
    border-radius: 4px;
    background: transparent;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    text-transform: uppercase;
}

.voting-wrap {
    display: flex;
    align-items: center;
}

.voting-action {
    margin-left: 20px;
}

.voting-btn span {
    color: #000;
}

.vote-up i, .vote-down i {
    color: darkgray;
}

.voting-btn:hover, .active {
    border: 2px solid DodgerBlue;
}

.voting-btn:hover i, .voting-btn.active i {
    color: DodgerBlue;
}

.voting-btn.active span, .voting-btn:hover span {
    color: #000;
}

@media only screen and (max-width: 768px) {
    .voting-action {
        display: flex;
    }

    .vote-down {
        margin-left: 15px;
    }
}